@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Manrope", ui-sans-serif, system-ui, sans-serif;
  --font-heading: "Bebas Neue", ui-sans-serif, system-ui, sans-serif;
  --font-logo: "Audiowide", sans-serif;

  --color-primary-bg: #ffffff;
  --color-secondary-bg: #f8f8f8;
  --color-text-main: #000000;
  --color-accent: #e11d48;
}

body {
  background-color: var(--color-primary-bg);
  color: var(--color-text-main);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}

/* Hide scrollbar for the logo slider */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
